div.container {
  width: 1080px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.version {
  margin-top: 0px;
}

.title {
  margin-bottom: 0px;
}

.output {
  
}